
*{
    margin: 0;
    padding: 0;
  }
  
  
  *,
  *:after,
  *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  @font-face {
    font-family: "prophet-bold";
    src: url(../font/ABCProphetEdu-.woff);

  }
  @font-face {
    font-family: "prophet-R";
    src: url(../font/ABCProphetEdu-Regular.woff);

  }


  @font-face {
    font-family: "abc";
    src: url(../font/ABCFavoritEdu-Light.otf);

  }

  body{
    position: relative;
    font-family: "abc";
  }

  #eng{
    position:absolute;
    top:0%;
    font-family: "prophet-bold";
    text-decoration-line: none;
    color: black;
    background-color:white;
    transition: all ease 0.3s;    
    z-index: 100 !important;
    transform: translateZ(100px);
    padding: 0.5rem 1rem;
    border-bottom: 1.8px solid black;
    padding-bottom: 3px;
    padding-left: 11px;
    padding-right: 10px;
    position: fixed;
    overflow: hidden;
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 2.3rem;
    width: 100vw;
    float: left;
    justify-content: space-between;

}
.main{
  position: relative;
  top:2.3rem
}

.p-info{
  padding-left: 11px;
  font-family: "abc";
  font-size: 1.2rem;
  top:2vw;
  position: relative;
  margin-bottom: 2vw;
}

.plakat{
  margin: 2vw;
  margin-left: 0;
  padding-left: 11px;
  float: left;
  position: relative;
  width: 17vw;
  height: auto;
}

.web-m{
  float: right;
  width: 30vw;
  height: auto;
  left: 11px;
  margin: 3.3vw;
  margin-left: 0;
  position: relative;
  border-radius: 3%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);;
}
.wrap{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.wrap .game{
  width: 30vw;
  top: 27vw;
  left: 2vw;
}

.p-photo{
  position: absolute;
  margin: 0;
  top: 90%;
}

.p-photo2{
  position: absolute;
  margin: 0;
  top: 85%;
  left: 67%;
}
#p-photo{
  margin: 0;
  width: 20vw;
}

#p-photo2{
  width: 17vw;
}
#plakat-gif{
  width: 42vw;
  height: auto;
  margin-left: 3vw;
}

#plakat1 {
justify-content: center;
}

#plakat2{
  flex-direction: row-reverse;
  width: 100%;
}

#o-plakat{
  width: 22vw;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}