

@font-face {
    font-family: "bookkm";
    src: url(../font/bookkm.ttf);
    font-style: normal;
    font-display: swap;
    
  }
  

  @font-face {
    font-family: "ABC";
    src: url(../font/ABCFavoritEdu-Light.otf);

  }

  @font-face {
    font-family: "prophet-italic";
    src: url(../font/ABCProphetEdu-ThinItalic.woff);

  }


  @font-face {
    font-family: "prophet";
    src: url(../font/ABCProphetEdu-Thin.woff);

  }



  @font-face {
    font-family: "gmarket";
    src: url(../font/GmarketSansLight.otf);

  }

  

  html {
    font-size: 100%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
  }
  
  body {
    font-family: "bookkm";
  }
  
  a{
    color: #38c77e;}
  
  .left-bar {
    
    background: linear-gradient(90deg, black, transparent),
    url(https://grainy-gradients.vercel.app/noise.svg);
   filter: contrast(170%) brightness(1000%);
    height: 100vh;
    position: fixed;
    width: calc(100% - 50vw);
    z-index: 10;
    transition: all ease 0.3s;
  }
  /* .change{
    background: linear-gradient(90deg, black, transparent), 
    url(https://grainy-gradients.vercel.app/noise.svg);
   filter: contrast(170%) brightness(1000%);
   left:0;
   width: calc(100% - 5vw);
    transition: all ease 0.3s;
  } */
.open{
  transform: translateX(calc(-100% + 20vw));
  background: linear-gradient(90deg, black, transparent),
  url(https://grainy-gradients.vercel.app/noise.svg);
  z-index: 8;
 transition: all ease 0,3s;
}

  
  /* .left-bar .pink {
    display: inline-block;
    position: absolute;
    height: 100%;
    left: 4px;
    width: 4px;
    background-color: rgb(231, 37, 237);
  } */
  
  .text {
    
    user-select: none;
    bottom: 0;
    margin: auto 0;
    top:0;
  }
  .big {
    font-size: 1rem;
    width: 100%;
    color: black;
    line-height: 1;
    user-select: none;
  }
  .content {
  
    position: absolute;
    left: 2rem;
    right: 1rem;
  bottom: 3vh;
  top: 3vh;
  z-index: 9;

  }

  .content div{
    margin: 1vw 0;
  }
  
  .work{
    text-decoration:none ;
    margin: 0.6vw 0;
    color: white;
  }
  .p-title{
    margin-bottom: 2vw;
    font-family:"prophet";
  }
  .works{
    font-family: "prophet-italic";
    width: 30vw;
    font-size: 1.6vw;
    color: white;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 30;
  }

  h2{
    font-size: 2vw;
  }
  
  .vertical{
    margin-top: 1vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
.l-txt{
  font-size: 1.3vw;
}

.direction{
  width: 6vw;
  height: auto;
  transition: all ease 0.3s;
}

.direction .hidden{
  display: none;
  transition: all ease 0.3s;
}

#direction{
  position: absolute; 
  top: 3vh;
  left: -2vw;
}

summary{
  margin-bottom: 1vw;
}

  @media (max-width: 786px) {
    .big {
      font-size: 2rem;
    }
  }
  
  @media (min-width: 786px) {
    .big {
      font-size: 2.5rem;
    }
  }
  @media (min-width: 999px) {
    .big {
      font-size: 3.5rem;
    }
  }

  
  @media (min-width: 999px) {
    #add{
     display: none;
    }
  }
  
  @media (min-width: 1300px) {
    .big {
      font-size: 3.8rem;
    }
  }
  
  /* .palette-container {
    z-index: -10;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    overflow: hidden;
    max-height: 100vh;
  }
  .palette.p-mobile {
    display: inline-block;
    max-height: 100vh;
  }
  
  .palette.p-desktop {
    display: none;
  }
  
  @media (max-width: 800px) {
    .palette.p-mobile {
      display: block;
    }
    .palette.p-desktop {
      display: none;
    }
  } */
  
  .right {
    text-align: right;
  }
  
  .middle {
    text-align: center;
  }
  
  .rotated {
    transform: rotate(180deg);
  }
  
  .hidden {
    display: none !important;
  }



/*   
  .logo {
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
    display: inline;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
  }
  
  .logo img {
    height: 40px;
    width: auto;
    mix-blend-mode: multiply;
  }
  
  @media (max-width: 1000px) {
    .logo img {
      height: 20px;
    }
  }
   */